html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	color: #666666;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, li, a, span, fieldset, label {
	color: #666666;
	font-family: 'Open Sans', sans-serif;
}

h3 {
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 30px;
}

form input[type=text],
form input[type=email],
form input[type=password],
form input[type=number],
form input[type=date],
select {
	width: 100%;
	height: 40px;
	padding: 0px 0px 0px 5px;
	margin-bottom: 15px;
	position: relative;
	background-color: #FEFEFE;
	border: 1px solid #CACACA;
	border-radius: 5px;
	box-shadow: none;
	color: #666666;
}

form.payment input[type=text],
form.payment input[type=email],
form.payment input[type=password],
form.payment input[type=number],
form.payment input[type=date] {
	width: calc(100% - 50px);
}

form input[type=text]::-webkit-input-placeholder,
form input[type=email]::-webkit-input-placeholder,
form input[type=password]::-webkit-input-placeholder,
form input[type=number]::-webkit-input-placeholder,
form input[type=date]::-webkit-input-placeholder,
select::-webkit-input-placeholder {
	color: #666666;
}

form input[type=text]::-moz-placeholder,
form input[type=email]::-moz-placeholder,
form input[type=password]::-moz-placeholder,
form input[type=number]::-moz-placeholder,
form input[type=date]::-moz-placeholder,
select::-moz-placeholder {
	color: #666666;
}

form input[type=text]:-ms-input-placeholder,
form input[type=email]:-ms-input-placeholder,
form input[type=password]:-ms-input-placeholder,
form input[type=number]:-ms-input-placeholder,
form input[type=date]:-ms-input-placeholder,
select:-ms-input-placeholder {
	color: #666666;
}

form input[type=text]:-moz-placeholder,
form input[type=email]:-moz-placeholder,
form input[type=password]:-moz-placeholder,
form input[type=number]:-moz-placeholder,
form input[type=date]:-moz-placeholder,
select:-moz-placeholder {
	color: #666666;
}

form p {
	font-size: 14px;
}

form input[type=radio] {
	padding: 7.5px;
	margin: 0;
	background-color: #FEFEFE;
	border: 1px solid #666666;
	-webkit-appearance: none;
}

form input[type=radio]:checked {
	background-color: #666666;
}

form input[type=radio]:focus {
	outline-color: transparent;
}

form label {
	bottom: 3.5px;
	position: relative;
	font-size: 14px;
}

form .form-button {
	width: 150px;
	height: 50px;
	margin-top: 25px;
	display: block;
	background-color: #4CAF50;
	border: 1px solid #4CAF50;
	border-radius: 5px;
	color: #FEFEFE;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
}

form .form-button:hover {
	text-decoration: none;
}

.back-button {
	width: 30px;
	height: 30px;
	padding: 5px;
	top: 0;
	right: 0.9375rem;
	position: absolute;
	background-color: #666666;
	border: 1px solid #666666;
	border-radius: 100%;
	font-size: 25px;
	line-height: 17.5px;
	cursor: pointer;
}

.back-button a {
	position: relative;
    top: -1px;
    left: -1px;
	color: #FEFEFE;
}

.back-button a:hover {
	text-decoration: none;
}

.container-fluid {
	padding: 0;
}

.container {
	max-width: 1000px;
}

.display-block {
	display: block;
}

.margin-bottom-display-block {
	margin-bottom: 25px;
	display: block;
}

.header {
	height: 94px;
	padding: 12.5px 0px 12.5px 0px;
	position: relative;
	background-color: #0062A8;
	z-index: 2;
}

.header img {
	width: 225px;
	height: auto;
}

.header .fa {
	color: #FEFEFE;
	font-size: 28px;
	cursor: pointer;
}

.header ul {
	padding: 0;
	margin-top: 22.5px;
	list-style: none;
}

.header ul li {
	display: inline;
	padding-right: 20px;
}

.header ul li a {
	color: #FEFEFE;
	font-size: 16px;
}

.header ul li a:hover {
	text-decoration: none;
}

.navigation-overlay {
	width: 0;
	height: 100%;
	top: 0;
	right: 0;
	position: fixed;
	z-index: 4;
	background-color: #166CB5;
	overflow-y: auto;
	overflow-x: hidden;
	visibility: hidden;
	opacity: 0;
       -moz-transition: .5s ease-in-out;
	    -ms-transition: .5s ease-in-out;
	     -o-transition: .5s ease-in-out;
	-webkit-transition: .5s ease-in-out;
	        transition: .5s ease-in-out;
	text-align: left;
}

.navigation-overlay .navigation-overlay-container {
	position: relative;
}

.navigation-overlay .navigation-overlay-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation-overlay .navigation-overlay-container ul li {
	width: 100%;
	display: block;
	overflow: hidden;
    white-space: nowrap;
}

.navigation-overlay .navigation-overlay-container ul li a {
	padding: 10px;
	display: block;
	color: #FEFEFE;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
}

.navigation-overlay-is-open .navigation-overlay {
	width: 225px;
	visibility: visible;
	opacity: 1;
}

.banner {
	width: 100%;
	min-height: 1000px;
	margin-top: -94px;
	position: relative;
	background-image: url(../img/banner.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
}

.register {
	top: 125px;
	position: relative;
	overflow: hidden;
}

.nav-tabs .nav-link {
	width: 125px;
	border-top: 5px solid #E0DFDF;
	border-left: 1px solid #E0DFDF;
	border-right: 1px solid #E0DFDF;
	border-radius: 0;
	font-size: 14px;
	text-align: center;
}

.nav-tabs .nav-link#paypal-tab {
	border-left: 0;
}

.nav-tabs .nav-link.active {
	background-color: #FEFEFE;
	border-top: 5px solid #4CAF50;
	color: #4CAF50;
	outline: none;
}

.tab-content {
	padding: 30px 15px 30px 15px;
	background-color: #FEFEFE;
	border-left: 1px solid #E0DFDF;
	border-bottom: 1px solid #E0DFDF;
	border-right: 1px solid #E0DFDF;
}

form.payment .input-group {
	margin-bottom: 0;
}

form.payment .input-group-label {
	width: 50px;
	height: 40px;
	background-color: #FEFEFE;
	border-right: 0;
	border-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

form.payment .input-group-label .fa {
	color: #666666;
}

.input-group {
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	margin-bottom: 1rem;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.input-group > :first-child {
	border-radius: 0 0 0 0;
}

.input-group > :last-child > * {
	border-radius: 0 0 0 0;
}

.input-group-label, .input-group-field, .input-group-button, .input-group-button a,
.input-group-button input,
.input-group-button button,
.input-group-button label {
	margin: 0;
	white-space: nowrap;
}

.input-group-label {
	padding: 0 1rem;
	border: 1px solid #cacaca;
	background: #e6e6e6;
	color: #0a0a0a;
	text-align: center;
	white-space: nowrap;
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	-ms-flex-align: center;
	align-items: center;
}

.input-group-label:first-child {
	border-right: 0;
}

.input-group-label:last-child {
	border-left: 0;
}

form.payment input[type=number],
form.payment input[type=text] {
	border-left: 0;
	border-radius: 5px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

form.payment p {
	display: inline;
}

form.payment p a {
	border-bottom: 1px dashed #E0DFDF;
	font-size: 14px;
}

form.payment p a:hover {
	color: #4CAF50;
}

#paypal .form-button {
	width: 200px;
}

.alert {
	width: 100%;
}

.error p {
	font-size: 22px;
}

.error p:last-child {
	font-size: 14px;
}

.error .text-right img {
	width: 175px;
	margin: 7.5px 0px 25px 0px;
}

.welcome-container p:first-of-type,
.finished-container p:first-of-type {
	font-size: 18px;
}

.welcome-container img {
	width: 125px;
	height: auto;
}

.finished-container img {
	width: 75px;
	height: 75px;
	border-radius: 50%;
}

#details p:last-child {
	font-size: 10px;
}

#details .form-button {
	bottom: -100px;
	position: relative;
	float: right;
}

#gender .form-button {
	float: right;
}

.terms-and-conditions {
	width: 100%;
	height: 250px;
	padding: 0.9375rem;
	margin-bottom: 0.9375rem;
	background-color: #FEFEFE;
	border: 1px solid #E0DFDF;
	overflow-y: scroll;
	text-align: justify;
}

.terms-and-conditions p,
.terms-and-conditions li {
	font-size: 12px;
}

.terms-and-conditions a {
	color: #4CAF50;
}

footer {
	height: 50px;
	background-color: #157CD2;
}

footer.container-fluid {
	padding: 10px 0px 10px 0px;
}

footer p {
	color: #FEFEFE;
	font-size: 10px;
}

footer .columns {
	padding: 0;
}

@media screen and (min-width: 365px) {
	.hide-for-medium {
		display: none !important;
	}
}

@media screen and (min-width: 64em) {
	.hide-for-large {
		display: none !important;
	}

	.close-button {
		right: 0.9375rem;
	}

	.header img {
		width: 250px;
		height: auto;
	}

	.register {
		top: 250px;
	}
}

@media screen and (max-width: 63.9375em) {
	.show-for-large {
		display: none !important;
	}
}