/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
package.json
/mail
/repo
/.env.dev
/.env.example
/.env.test
/public_html/old
/public_html/uploadsold
backup.zip

/.composer
/.cpanel
